altair
annotated-types
anyio
attrs
biopython
blinker
boto3
botocore
cachetools
certifi
charset-normalizer
click
contourpy
cycler
decorator
distro
easyocr
et-xmlfile
filelock
filetype
fonttools
fsspec
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
googleapis-common-protos
h11
httpcore
httplib2
httpx
idna
imageio
imageio-ffmpeg
Jinja2
jiter
jmespath
joblib
jsonlines
jsonschema
jsonschema-specifications
kiwisolver
lazy_loader
llvmlite
lxml
markdown-it-py
MarkupSafe
matplotlib
mdurl
more-itertools
moviepy
mpmath
narwhals
networkx
ninja
numba
numpy
openai
openai-whisper
opencv-python
opencv-python-headless
openpyxl
packaging
pandas
pillow
plotly
proglog
proto-plus
protobuf
pyarrow
pyasn1
pyasn1_modules
pyclipper
pydantic
pydantic_core
pydeck
Pygments
pyodbc
pyparsing
PyPDF2
pytesseract
python-bidi
python-dateutil
python-docx
python-dotenv
python-pptx
pytube
pytz
PyYAML
referencing
regex
requests
rich
rpds-py
rsa
s3transfer
scikit-image
scikit-learn
scipy
seaborn
setuptools
shapely
six
smmap
sniffio
streamlit
sympy
tenacity
threadpoolctl
tifffile
tiktoken
toml
torch
torchvision
tornado
tqdm
typing_extensions
tzdata
uritemplate
urllib3
wheel
XlsxWriter
youtube-transcript-api
